#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Oversteer for Steam Deck
Exec=sudo curl !!url!! | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
