#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Oversteer for Steam Deck
Exec=sudo curl https://raw.githubusercontent.com/TheBossT910/steam-deck-oversteer/main/install.sh | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
